<div class="mt-10">
    <img src="/NEGARIA_logo.png" class="max-w-full max-h-full h-48 mx-auto object-contain">
    <div class="w-auto mx-auto my-10">

        <div class="text-center text-lg text-gray-700 md:text-xl w-3/4 mx-auto">
            <p>NEGARIAは、組織のメンバーが抱く<b>「願い」</b>を集め、着実に<b>「叶える」</b>ための新しいToDoリストです。</p>
            <br>
            <br>
            <p>社会生活を送っていると、所属する組織に固有の○○や××な悩みを抱えることがあると思います。しかし、よほど自由な組織でない限り、上層部にその悩みをお願いする行為をしただけでも、「我儘で面倒ごとを増やす存在だ」と思われる可能性があります。NEGARIAは、そのような組織に対する願いを匿名で集め、上司に要望を知らせることができます。そして、その要望について上層部がどう認識し考えたかわかります。</p>
        </div>

        <p class="mt-20 text-2xl text-center">使い方</p>
        <div class=" w-3/4 mx-auto my-4 text-center text-lg text-gray-700 md:text-xl flex flex-row justify-evenly center">
            <div class="m-2">
                <img src="/process1.png" class="max-w-full max-h-full h-50 mx-auto m-2 object-contain">
                1. メンバーは組織への<br>願いを投稿
            </div>
            <div class="m-2">
                <img src="/process2.png" class="max-w-full max-h-full h-50 mx-auto m-2 object-contain">
                2. 管理者は願いを<br>承認/非承認
            </div>
            <div class="m-2">
                <img src="/process3.png" class="max-w-full max-h-full h-50 mx-auto m-2 object-contain">
                3. 管理者を中心に<br>ToDoを達成
            </div>
        </div>

    </div>
</div>