<div>
</div>

<div class="my-10 p-2 w-96 h-auto mx-auto bg-gray-100 rounded-lg border-2 border-gray-300 shadow-md">
    <div class="bg-gray-100">
        <p class="my-16 font-sans font-medium text-2xl text-center">グループを作成</p>

        <div class="m-4 flex-wrap items-center justify-center">
            <%= render partial: 'form', locales: { group: @group } %>
        </div>
    </div>
</div>

