// Place all the styles related to the service controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input[type="button"] {
    border-color: azure;
}

.border{
    border: #DDD solid;
}

.centerize{
    margin:auto 0;
    align-items: center;
}

.equalArrangement{
    display: flex;
    justify-content: space-evenly;
}

.cardMargin{
    margin: 1rem 0;
}
#serviceContainer{
    // flex-wrap: wrap;
}

#requestsBody{
    width: 45%;
    display: inline-block;
}

#requestForm{
    height: 5rem;
    display: block;
}

#requestsList{
}

#rightContainer{
    width: 45%;
    display: inline-block;
}

#acceptedList{
}

#transitionButtons{

}